Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
dj-database-url
psycopg2-binary
python-dotenv
langchain
langchain-google-genai
langchain-core
pydantic
gunicorn
trafilatura
requests
redis
celery
