Django
celery
redis
python-dotenv
djangorestframework
dj-database-url
psycopg[binary]
langchain
langchain-google-genai
langchain-core
pydantic
requests
pika
langchain
langchain-google-genai
langchain-core
pydantic
